<head>
  <link href="/reset.css" rel='stylesheet'  />
  <link href="/styles.css" rel='stylesheet'  />

</head>
<body>


    <h1 class="heading">New Post</h1>
<form action="/addEntry" method="POST">
  <fieldset class="entry">

  Title

    <input class="entryTitle entrySet" placeholder="Grab attention" name="entryTitle" type="text" required></textarea>
Write your article here
<textarea class="entryBody entrySet" placeholder="Awesome content" name="entryBody" type="text"  required></textarea>
<input   type="submit" value="Add Post!" />
</fieldset>
</form>
</body>
